@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Masaram+Gondi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
}
.App {
  text-align: center;
  color: #07a953;
  min-height: 100vh;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #151515;
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #53238e;
  padding: 10px 0;
}

nav ul li {
  border-radius: 5px;
  font-size: 24px;
  padding: 2px;
  margin: 2px 12px;
}

.emoji-list span {
  font-size: 40px;
}

button {
  border-radius: 5px;
  /* height: 100%; */
  /* padding: 10px; */
}
nav ul li a {
  color: white;
  /* padding: 10px; */
  text-decoration: none;
}

nav ul li button {
  padding: 2px 7px;
}

h2 {
  font-family: 'Noto Sans Masaram Gondi', sans-serif;
  color: white;
  margin-bottom: 20px;
  font-size: 33px;
}

h3 {
  color: #b2b8c6;
}

.emoji-list {
  margin-left: 20px;
  font-size: 30px;
}

.login-good {
  cursor: pointer;
}

.err-msg {
  color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.widgets {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.widgets li {
  text-align: left;
  background-color: #01021a;
  /* width: 400px; */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

p.widget-item {
  margin: 0;
  padding: 0;
}

p.widget-item.title {
  color: #7865ff;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 28px;
}

/* Password Curtain */

.outer-pswd {
  background: rgb(11, 11, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(47, 144, 224, 1) 50%,
    rgba(58, 7, 107, 1) 100%
  );
  border-radius: 8px;
  cursor: crosshair;
  max-width: 98%;
  overflow-x: scroll;
}
.inner-pswd {
  background-color: black;
  box-sizing: content-box;
  /* padding: 5px; */
  clip-path: inset(0% 0% 0% 100%);
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  display: flex;
  align-items: center;

  overflow-x: scroll;
}

.no-styles {
  display: inline-block;
  border: none;
  /* padding: 10px; */
  text-decoration: none;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  margin-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.outer-pswd:hover .inner-pswd {
  clip-path: inset(0% 0% 0% 0%);
}
p.widget-item.pswd {
  font-family: 'Revalia', cursive;
  color: #7ec62b;
  font-size: 13px;
  /* padding: 8px 13px; */

  margin-top: 8px;
}
.widget-info {
  /* padding-right: 20px; */
  width: 75%;
}

.widget-button-panel {
  min-width: 126px;
  width: 25%;
}

.form-header {
  margin-bottom: 18px;
}

.form-header button {
  width: 75%;
}

.searchbar {
  padding: 10px;
  max-width: 500px;
  margin: 10px auto;
}

.create-widget-form input {
  background-color: #151515;
  font-family: 'Inika', serif;
  font-weight: bold;
  font-size: 24px;
  color: #684e7f;
  position: relative;
  border: 1px solid #5262e8;
}

.create-widget-form input:focus {
  background-color: #151515;
  color: #7ec62b;
}

.create-widget-form input::placeholder {
  color: #5262e8;
  font-family: 'East Sea Dokdo', cursive;
  font-weight: normal;
}

input.required {
  border: 1px solid #a524d9;
}

input.required::placeholder {
  color: #a524d9;
  font-size: 34px;
}

input.pswd {
  color: #212321;
  font-family: 'Syne Mono', monospace;
  font-family: 'Montez', cursive;
  font-size: 18px;
  border: 1px solid #a61c88;
}

input.pswd:focus {
  color: #7ec62b;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 25px;
}

input.pswd::placeholder {
  color: #893b62;
}

.create-widget-form button {
  font-family: 'Homenaje', sans-serif;
  letter-spacing: 3px;
  font-size: 32px;
  font-weight: 800;
}

.edit-widget-form {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.edit-widget-fieldset {
  display: flex;
  align-items: center;
}

.edit-widget-form label {
  width: 120px;
  font-size: 18px;
  text-align: right;
  padding-right: 10px;
}

.edit-widget-form input {
  margin: 5px 0;
  background-color: #1e2021;
  border: 1px solid #3c5d7e;
}

.edit-widget-form input::placeholder,
.edit-widget-form input:required {
  color: #3c5d7e;
}

.edit-widget-form input:focus {
  color: #08f134;
  border: 1px solid #0b9625;
  background-color: #162a1a;
}

.pswd-edit {
  color: #1e2021 !important;
}

.pswd-edit:focus {
  color: #b0304b !important;
}

.report-btn {
  margin-top: 25px;
}
